/* Tipografia */

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700;800;900&family=Kanit:ital,wght@0,200;0,300;1,400&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(43, 45, 66);
  font-family: sans-serif;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
}

.Logo {
  align-items: center;
  display: flex;
  width: 300px;
  height: 100%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.header-hv a {
  display: flex;
  color: white;
}

.header-hv a:hover {
  color: rgb(43, 45, 66);
  transition: 1s;
}

@media (max-width:760px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px;
  }

}

/* MAIN  */
.ftDeInicio {
  width: 300px;
}

.quienesSomos {
  text-align: center;
  text-decoration: underline;
  margin: 20px 0px;
  color: white;
}

/* footer */
footer {
  font-family: "Jost", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto", sans-serif;
  background: black;
}

.Copyright {
  color: white;
}

.lorem {
  color: white;
  padding: 10px;
}

/* Productos */
/* 
.card-cuerpo {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productos-div {
  display: flex;
  justify-content: center;
}

.card-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.card-contenido p {
  text-align: center;
}

.nuestros-productos {
  display: flex;
  justify-content: center;
}
*/
.main-bg {
  background-color: rgb(43, 45, 66);
}

.nuestros-productos{
  text-align: center;
  color: rgb(216, 216, 152);
  background-color: red;
  border: solid 1px black;
}

 .productos-div {
  display: grid;
  grid-template-columns: auto auto auto;
 }