/* INICIO */

.quienesSomos {
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
    color: rgb(209, 192, 113);
  }
  
  .imgMB {
    max-width: 350px;
    float: left;
    border-radius: 10px;
    border: 1px solid rgb(209, 192, 113);
    margin-right: 20px;
    margin-bottom: 70px;
  }
  
  .contenidoPricipal {
    margin: 100px;
    width: 75%;
  }
  
  .textoPrincipal {
    color: #fff;
    font-size: 25px;
  
    h3 {
      font-size: 40px;
      padding: 3px;
    }
  }
  
  .titulo {
    text-align: center;
    color: rgb(209, 192, 113);
    background: rgb(185, 77, 77);
    font-size: 20px;
  }
  